.headerBar {
  background-color: rgb(37, 39, 40);
  padding: 10px;
  height: 30px;
  min-width: 100%;
  text-align: center;
  position: fixed;
  transition: .2s;
}

.headerBar  a {
  transition: all .2s linear;
  display: inline-block;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
}

.headerBar  a:hover {
  color:rgb(229, 178, 102);
}
.inactive {
  color: rgb(195, 204, 211);
  font-weight: 500;
}
.active {
  color: rgb(229, 178, 102);
  font-weight: 700;
}