header {
  background-color: rgb(37, 39, 40);
  padding: 10px;
  height: 30px;
  min-width: 100%;
  text-align: center;
  position: fixed;
  transition: .2s;
}

header p {
  font-weight: 500;
  transition: all .2s linear;
  display: inline-block;
  font-size: 18px;
  margin: 0 10px;
  color: rgb(195, 204, 211);
  cursor: pointer;
}

header p:hover {
  color:rgb(229, 178, 102);
}